<p>Hello</p>
<p>Your PIN has been retrieved successfully. Your PIN is  {{ code }}</p>
<p></p>
<p>Thank you,</p>
<p>The Speakeasy and Purge Team.</p>
<p></p>
<p>Disclaimer: This email is intended only for the person to whom it is addressed and/or otherwise authorized person. The information contained herein and attached is confidential and the property of Speakeasy and Purge. If you are not the intended recipient, please be advised that viewing this message and any attachments, as well as copying, forwarding, printing, and disseminating any information related to this email is prohibited, and that you should not take any action based on the content of this email and/or its’ attachments.</p>