<p>Hello</p>
<p>Dear {{full_name}}, welcome to the community! This email is to let you know we've received and are responding to your membership request. We'll get back to you in due course. </p>
<p></p>
<p>Thank you,</p>
<p>The Speakeasy and Purge Team.</p>
